#HTML_1 {
    height: 1653px;
    text-size-adjust: 100%;
    width: 1143px;
    perspective-origin: 571.5px 826.5px;
    transform-origin: 571.5px 826.5px;
    font: normal normal normal normal 16px / normal "Times New Roman";
}/*#HTML_1*/

#SCRIPT_2, #HEAD_3, #TITLE_5, #META_7, #LINK_9, #NOSCRIPT_11, #LINK_13, #LINK_15 {
    text-size-adjust: 100%;
    font: normal normal normal normal 16px / normal "Times New Roman";
}/*#SCRIPT_2, #HEAD_3, #TITLE_5, #META_7, #LINK_9, #NOSCRIPT_11, #LINK_13, #LINK_15*/

#META_4, #META_6, #LINK_10, #LINK_14 {
    text-size-adjust: 100%;
    font: normal normal normal normal 16px / normal "Times New Roman";
}/*#META_4, #META_6, #LINK_10, #LINK_14*/

#META_8, #LINK_12 {
    text-size-adjust: 100%;
    font: normal normal normal normal 16px / normal "Times New Roman";
}/*#META_8, #LINK_12*/

#LINK_16 {
    text-size-adjust: 100%;
    font: normal normal normal normal 16px / normal "Times New Roman";
}/*#LINK_16*/

#BODY_17 {
    color: rgb(51, 51, 51);
    height: 1613px;
    text-size-adjust: 100%;
    width: 1143px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 571.5px 806.5px;
    transform-origin: 571.5px 806.5px;
    background: rgb(31, 31, 31) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#BODY_17*/

#SECTION_18 {
    color: rgb(51, 51, 51);
    height: 1563px;
    max-width: 700px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 400px 806.5px;
    transform-origin: 400px 806.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 20px 171.5px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 25px 50px;
}/*#SECTION_18*/

#SECTION_18:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SECTION_18:after*/

#SECTION_18:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SECTION_18:before*/

#HEADER_19 {
    color: rgb(51, 51, 51);
    height: 172px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 86.5px;
    transform-origin: 350px 86.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#HEADER_19*/

#HEADER_19:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#HEADER_19:after*/

#HEADER_19:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#HEADER_19:before*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 172px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 402.125px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 201.062px 86px;
    transform-origin: 201.062px 86px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_20*/

#IMG_21 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 140px;
    max-width: 100%;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 135px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 53.5px 71px;
    transform-origin: 53.5px 71px;
    border: 1px solid rgb(221, 221, 221);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#IMG_21*/

#H1_22 {
    height: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 402.125px;
    perspective-origin: 201.062px 40px;
    transform-origin: 201.062px 40px;
    font: normal normal bold normal 40px / 50px "Open Sans";
    margin: 10px 0px;
    padding: 30px 0px 0px;
}/*#H1_22*/

#H2_23 {
    height: 21px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 402.125px;
    perspective-origin: 201.062px 10.5px;
    transform-origin: 201.062px 10.5px;
    font: normal normal normal normal 21px / 21px "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 10px 0px;
}/*#H2_23*/

#DIV_24 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 165px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 223.391px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.688px 82.5px;
    transform-origin: 111.688px 82.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 23px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 74.4531px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 30px 0px;
}/*#DIV_24*/

#UL_25 {
    color: rgb(51, 51, 51);
    height: 105px;
    text-size-adjust: 100%;
    width: 223.391px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.688px 52.5px;
    transform-origin: 111.688px 52.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 23px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_25*/

#LI_26, #LI_29, #LI_31 {
    color: rgb(51, 51, 51);
    height: 21px;
    text-size-adjust: 100%;
    width: 223.391px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.688px 10.5px;
    transform-origin: 111.688px 10.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_26, #LI_29, #LI_31*/

#I_27 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 17.5px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.75px 10px;
    transform-origin: 8.75px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_27*/

#I_27:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 12.8594px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 6.42188px 10px;
    transform-origin: 6.42188px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_27:before*/

#LI_28 {
    color: rgb(51, 51, 51);
    height: 20px;
    text-size-adjust: 100%;
    width: 223.391px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.688px 10px;
    transform-origin: 111.688px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_28*/

#I_30 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 17.5px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.75px 10px;
    transform-origin: 8.75px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_30*/

#I_30:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 12.6094px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 6.29688px 10px;
    transform-origin: 6.29688px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_30:before*/

#I_32 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 17.5px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.75px 10px;
    transform-origin: 8.75px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_32*/

#I_32:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 10.9219px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 5.45312px 10px;
    transform-origin: 5.45312px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_32:before*/

#LI_33 {
    color: rgb(51, 51, 51);
    height: 22px;
    text-size-adjust: 100%;
    width: 223.391px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 111.688px 11px;
    transform-origin: 111.688px 11px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_33*/

#A_34, #A_36, #A_38, #A_40 {
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(0, 0, 0);
    font: normal normal 300 normal 20px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 5px 2px;
    outline: rgb(0, 0, 0) none 0px;
    transition: color 0.5s ease-out 0s, background 0.6s ease-in 0s;
}/*#A_34, #A_36, #A_38, #A_40*/

#I_35 {
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 25px;
    perspective-origin: 12.5px 10px;
    transform-origin: 12.5px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_35*/

#I_35:before {
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 18px;
    perspective-origin: 9px 10px;
    transform-origin: 9px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_35:before*/

#I_37 {
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 25px;
    perspective-origin: 12.5px 10px;
    transform-origin: 12.5px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_37*/

#I_37:before {
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 7.71875px;
    perspective-origin: 3.85938px 10px;
    transform-origin: 3.85938px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_37:before*/

#I_39 {
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 25px;
    perspective-origin: 12.5px 10px;
    transform-origin: 12.5px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_39*/

#I_39:before {
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 15px;
    perspective-origin: 7.5px 10px;
    transform-origin: 7.5px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_39:before*/

#I_41 {
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 25px;
    perspective-origin: 12.5px 10px;
    transform-origin: 12.5px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_41*/

#I_41:before {
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 18.0469px;
    perspective-origin: 9.01562px 10px;
    transform-origin: 9.01562px 10px;
    font: normal normal normal normal 20px / 20px FontAwesome;
    list-style: none outside none;
}/*#I_41:before*/

#ARTICLE_42 {
    color: rgb(51, 51, 51);
    height: 120px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 80.5px;
    transform-origin: 350px 80.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px 0px;
}/*#ARTICLE_42*/

#ARTICLE_42:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_42:after*/

#ARTICLE_42:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_42:before*/

#HEADER_43, #HEADER_51, #HEADER_78, #HEADER_91, #HEADER_101 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 40px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 163.828px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 81.9062px 20px;
    transform-origin: 81.9062px 20px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#HEADER_43, #HEADER_51, #HEADER_78, #HEADER_91, #HEADER_101*/

#H3_44, #H3_52, #H3_79, #H3_92, #H3_102 {
    height: 20px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 163.828px;
    perspective-origin: 81.9062px 10px;
    transform-origin: 81.9062px 10px;
    font: normal normal normal normal 20px / 20px "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 10px 0px;
}/*#H3_44, #H3_52, #H3_79, #H3_92, #H3_102*/

#DIV_45 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 120px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 60px;
    transform-origin: 260.625px 60px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 14.8906px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#DIV_45*/

#P_46 {
    color: rgb(51, 51, 51);
    height: 90px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 45px;
    transform-origin: 260.625px 45px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 24px / 30px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_46*/

#BR_47 {
    color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 24px / 30px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#BR_47*/

#P_48 {
    color: rgb(51, 51, 51);
    height: 20px;
    text-align: right;
    text-indent: 22px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 10px;
    transform-origin: 260.625px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_48*/

#I_49 {
    color: rgb(51, 51, 51);
    text-align: right;
    text-indent: 22px;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: italic normal 300 normal 16px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_49*/

#ARTICLE_50 {
    color: rgb(51, 51, 51);
    height: 126px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 83.5px;
    transform-origin: 350px 83.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px 0px;
}/*#ARTICLE_50*/

#ARTICLE_50:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_50:after*/

#ARTICLE_50:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_50:before*/

#DIV_53 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 126px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 63px;
    transform-origin: 260.625px 63px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 14.8906px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#DIV_53*/

#DIV_54 {
    color: rgb(51, 51, 51);
    height: 116px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 58px;
    transform-origin: 260.625px 58px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_54*/

#DIV_54:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_54:after*/

#DIV_54:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_54:before*/

#UL_55 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 116px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 255.078px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 127.531px 58px;
    transform-origin: 127.531px 58px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_55*/

#LI_56, #LI_67 {
    color: rgb(51, 51, 51);
    height: 16px;
    text-size-adjust: 100%;
    width: 255.078px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 127.531px 8px;
    transform-origin: 127.531px 8px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_56, #LI_67*/

#H4_57, #H4_68 {
    height: 16px;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 255.078px;
    perspective-origin: 127.531px 8px;
    transform-origin: 127.531px 8px;
    font: normal normal normal normal 16px / 16px "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 10px 0px;
}/*#H4_57, #H4_68*/

#LI_58, #LI_60, #LI_62, #LI_64, #LI_69, #LI_71, #LI_73, #LI_75 {
    color: rgb(51, 51, 51);
    height: 20px;
    text-size-adjust: 100%;
    width: 255.078px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 127.531px 10px;
    transform-origin: 127.531px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_58, #LI_60, #LI_62, #LI_64, #LI_69, #LI_71, #LI_73, #LI_75*/

#STRONG_59, #STRONG_61, #STRONG_65, #STRONG_70, #STRONG_74 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_59, #STRONG_61, #STRONG_65, #STRONG_70, #STRONG_74*/

#STRONG_63, #STRONG_72 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_63, #STRONG_72*/

#UL_66 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 116px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 255.078px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 127.531px 58px;
    transform-origin: 127.531px 58px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 11.0781px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_66*/

#STRONG_76 {
    color: rgb(51, 51, 51);
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_76*/

#ARTICLE_77 {
    color: rgb(51, 51, 51);
    height: 180px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 202.5px;
    transform-origin: 350px 202.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px 0px;
}/*#ARTICLE_77*/

#ARTICLE_77:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_77:after*/

#ARTICLE_77:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_77:before*/

#DIV_80 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 364px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 182px;
    transform-origin: 260.625px 182px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 14.8906px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#DIV_80*/

#H4_81, #H4_84, #H4_87, #H4_94, #H4_97, #H4_104, #H4_106, #H4_108 {
    height: 16px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 521.266pix;
    perspective-origin: 260.625px 8px;
    transform-origin: 260.625px 8px;
    font: normal normal normal normal 16px / 16px "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 10px 0px;
}/*#H4_81, #H4_84, #H4_87, #H4_94, #H4_97, #H4_104, #H4_106, #H4_108*/

#H5_82, #H5_85, #H5_88, #H5_95, #H5_98 {
    height: 12px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 521.266px;
    perspective-origin: 260.625px 6px;
    transform-origin: 260.625px 6px;
    font: normal normal normal normal 12px / 12px "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 10px 0px;
}/*#H5_82, #H5_85, #H5_88, #H5_95, #H5_98*/

#P_83, #P_86, #P_96, #P_105, #P_109 {
    color: rgb(51, 51, 51);
    height: 60px;
    text-indent: 22px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 30px;
    transform-origin: 260.625px 30px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_83, #P_86, #P_96, #P_105, #P_109*/

#P_89, #P_99, #P_107 {
    color: rgb(51, 51, 51);
    height: 60px;
    text-indent: 22px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 30px;
    transform-origin: 260.625px 30px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 16px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_89, #P_99, #P_107*/

#ARTICLE_90 {
    color: rgb(51, 51, 51);
    height: 246px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 143.5px;
    transform-origin: 350px 143.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px 0px;
}/*#ARTICLE_90*/

#ARTICLE_90:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_90:after*/

#ARTICLE_90:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_90:before*/

#DIV_93 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 246px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 123px;
    transform-origin: 260.625px 123px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 14.8906px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#DIV_93*/

#ARTICLE_100 {
    color: rgb(51, 51, 51);
    height: 250px;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 320px 169.5px;
    transform-origin: 350px 169.5px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 20px 0px;
}/*#ARTICLE_100*/

#ARTICLE_100:after {
    clear: both;
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_100:after*/

#ARTICLE_100:before {
    color: rgb(51, 51, 51);
    content: '""';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 0px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#ARTICLE_100:before*/

#DIV_103 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 298px;
    min-height: 30px;
    text-size-adjust: 100%;
    width: 521.266px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 260.625px 149px;
    transform-origin: 260.625px 149px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 14.8906px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#DIV_103*/

#FOOTER_110 {
    color: rgb(51, 51, 51);
    height: 21px;
    text-align: right;
    text-size-adjust: 100%;
    width: 700px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 350px 15.5px;
    transform-origin: 350px 15.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 0px 0px;
}/*#FOOTER_110*/

#A_111, #A_112 {
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(0, 0, 0);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    transition: color 0.5s ease-out 0s, background 0.6s ease-in 0s;
}/*#A_111, #A_112*/

#A_113 {
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(0, 0, 0);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    transition: color 0.5s ease-out 0s, background 0.6s ease-in 0s;
}/*#A_113*/

#I_114 {
    display: inline-block;
    height: 20px;
    text-align: right;
    text-size-adjust: 100%;
    width: 10.5px;
    perspective-origin: 5.25px 10px;
    transform-origin: 5.25px 10px;
    font: normal normal normal normal 14px / 20px FontAwesome;
}/*#I_114*/

#I_114:before {
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: right;
    text-size-adjust: 100%;
    width: 10.5px;
    perspective-origin: 5.25px 10px;
    transform-origin: 5.25px 10px;
    font: normal normal normal normal 14px / 20px FontAwesome;
}/*#I_114:before*/

#SCRIPT_115, #SCRIPT_116 {
    color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 300 normal 14px / 20px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SCRIPT_115, #SCRIPT_116*/

